:root {
  --header-height: 56px;
  --navigation-width: 94px;
  --navigation-height: 64px;
  --navigation-max-height: 400px;

  --app-icon-size: 80px;

  --sp-extra-loose: 32px;
  --sp-loose: 20px;
  --sp-normal: 16px;
  --sp-tight: 12px;
  --sp-extra-tight: 8px;
  --sp-ultra-tight: 4px;
  --sp-none: 0;

  --bo-high: 16px;
  --bo-normal: 8px;
  --bo-small: 4px;

  /* font syles */
  --fs-h1: 36px;
  --ls-h1: -1.5px;
  --lh-h1: 38px;

  --fs-h2: 24px;
  --ls-h2: -0.5px;
  --lh-h2: 30px;

  --fs-s1: 18px;
  --ls-s1: -0.2px;
  --lh-s1: 24px;

  --fs-b1: 16px;
  --ls-b1: 0.1px;
  --lh-b1: 24px;

  --fs-b2: 14px;
  --ls-b2: 0.2px;
  --lh-b2: 20px;

  --fs-b3: 12px;
  --ls-b3: 0px;
  --lh-b3: 16px;
}